<h1>Task List</h1>
<div class="flex-container">
  <div>
    <p style="display:inline">Filters:</p>
    <label for="statusFilter">Status</label>
    <select name="statusFilter">
      <option value="all">All</option>
      <option value="in-progress">In Progress</option>
    </select>
  </div>
  <div>
    <button data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add New Task
    </button>
  </div>
</div>
<app-table></app-table>

<!-- Add New Task Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add a New Task</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Forms are here!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addTask()">Save changes</button>
      </div>
    </div>
  </div>
</div>
