<table class="table border">
  <thead>
    <tr>
      <th>Title</th>
      <th>Due Date</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{task.title}}</td>
      <td>{{task.dueDate}}</td>
      <td>{{task.priority}}</td>
      <td>{{task.status}}</td>
      <td>
        <i class="bi bi-eye mx-1" data-bs-toggle="modal" data-bs-target="#viewTaskModal" (click)="selectTask(task.id)"
          style="cursor:pointer"></i>
        <i class="bi bi-pencil-square mx-1" data-bs-toggle="modal" data-bs-target="#editTaskModal"
          (click)="selectTask(task.id)" style="cursor:pointer"></i>
        <i class="bi bi-trash mx-1" data-bs-toggle="modal" data-bs-target="#deleteTaskModal"
          (click)="selectTask(task.id)" style="cursor:pointer"></i>
      </td>
    </tr>
  </tbody>
</table>

<!-- View Task Modal -->
<div class="modal fade" id="viewTaskModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-8">
              <div class="mb-3">
                <input class="form-control" type="text" name="title" id="title" value="{{selectedTask.title}}" disabled>
              </div>
              <div class="mb-3">
                <textarea class="form-control" type="text" name="description" id="description"
                  value="{{selectedTask.description}}" rows="7" disabled></textarea>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <p class="mb-0">Due Date</p>
                <input id="dueDate" class="form-control" type="text" name="dueDate" value="{{selectedTask.dueDate}}"
                  disabled />
              </div>
              <div class="mb-3">
                <p class="mb-0">Priority</p>
                <input class="form-control" name="priority" id="priority" type="text" value="{{selectedTask.priority}}"
                  disabled>
              </div>
              <div class="mb-3">
                <p class="mb-0">Status</p>
                <input class="form-control" name="status" id="status" type="text" value="{{selectedTask.status}}"
                  disabled>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Task Modal -->
<div class="modal fade" id="editTaskModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="editTaskSubmit(editTaskFormRef)" #editTaskFormRef="ngForm">
          <div class="row">
            <div class="col-md-8">
              <div class="mb-3">
                <input class="form-control" type="text" name="title" id="title" placeholder="Title"
                  [(ngModel)]="selectedTask.title" #titleRef="ngModel" required>
                <span class="help-block text-danger" *ngIf="!titleRef.valid && descriptionRef.touched">Please enter a
                  title</span>
              </div>
              <div class="mb-3">
                <textarea class="form-control" type="text" name="description" id="description" placeholder="Description"
                  [(ngModel)]="selectedTask.description" rows="7" #descriptionRef="ngModel" required></textarea>
                <span class="help-block text-danger" *ngIf="!descriptionRef.valid && descriptionRef.touched">Please
                  enter a description</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <p class="mb-0">Due Date</p>
                <input id="dueDate" class="form-control" type="date" name="dueDate" [(ngModel)]="selectedTask.dueDate"
                  #dueDateRef="ngModel" required />
                <span class="help-block text-danger" *ngIf="!dueDateRef.valid && dueDateRef.touched">Please select a due
                  date</span>
              </div>
              <div class="mb-3">
                <p class="mb-0">Priority</p>
                <select class="form-select" name="priority" id="priority" #priorityRef="ngModel" required
                  [(ngModel)]="selectedTask.priority">
                  <option value="Low">Low</option>
                  <option value="Medium">Medium</option>
                  <option value="High">High</option>
                </select>
                <span class="help-block text-danger" *ngIf="!priorityRef.valid && priorityRef.touched">Please select a
                  priority</span>
              </div>
              <div class="mb-3">
                <p class="mb-0">Status</p>
                <select class="form-select" name="status" id="status" #statusRef="ngModel" required
                  [(ngModel)]="selectedTask.status">
                  <option value="To Do">To Do</option>
                  <option value="In Progress">In Progress</option>
                  <option value="Done">Done</option>
                </select>
                <span class="help-block text-danger" *ngIf="!statusRef.valid && statusRef.touched">Please select a
                  status</span>
              </div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal"
                [disabled]="!editTaskFormRef.valid">Create</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
