<div class="container">
  <h1>Task List</h1>
  <div class="flex-container">
    <div class="mb-4">
      <p class="me-2" style="display:inline">Filters:</p>
      <select class="mx-2">
        <option value="none">Status</option>
        <option value="in-progress">In Progress</option>
      </select>
      <select class="mx-2">
        <option value="none">Date</option>
      </select>
      <select class="ms-2">
        <option value="none">Priority</option>
      </select>
    </div>
    <div>
      <button id="addTaskButton" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add New Task
      </button>
    </div>
  </div>
  <app-table></app-table>
</div>

<!-- Add New Task Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a New Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-8">
              <div class="mb-3">
                <input class="form-control" type="text" name="title" id="title" placeholder="Title">
              </div>
              <div class="mb-3">
                <textarea class="form-control" type="text" name="description" id="description" placeholder="Description"
                  rows="7"></textarea>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <input id="dueDate" class="form-control" type="date" placeholder="Due Date" />
              </div>
              <div class="mb-3">
                <select class="form-select" name="priority" id="priority">
                  <option value="placeholder" selected disabled>Priority</option>
                  <option value="low">Low</option>
                  <option value="medium">Medium</option>
                  <option value="high">High</option>
                </select>
              </div>
              <div class="mb-3">
                <select class="form-select" name="status" id="status">
                  <option value="placeholder" selected disabled>Status</option>
                  <option value="toDo">To Do</option>
                  <option value="inProgress">In Progress</option>
                  <option value="done">Done</option>
                </select>
              </div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-success" (click)="addTask()">Create</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
