<div class="container">
  <h1>Task List</h1>
  <div class="flex-container">
    <div class="mb-4">
      <p class="me-2" style="display:inline">Filters:</p>
      <select class="mx-2">
        <option value="none">Status</option>
        <option value="in-progress">In Progress</option>
      </select>
      <select class="mx-2">
        <option value="none">Date</option>
      </select>
      <select class="ms-2">
        <option value="none">Priority</option>
      </select>
    </div>
    <div>
      <button id="addTaskButton" (click)="addTask()">
        Add New Task
      </button>
    </div>
  </div>
  <!-- <app-table></app-table> -->
</div>
