<div class="container">
  <h1>Task List</h1>
  <div class="flex-container">
    <div class="mb-4">
      <p class="me-2" style="display:inline">Filters:</p>
      <select class="mx-2">
        <option value="none">Status</option>
        <option value="in-progress">In Progress</option>
      </select>
      <select class="mx-2">
        <option value="none">Date</option>
      </select>
      <select class="ms-2">
        <option value="none">Priority</option>
      </select>
    </div>
    <div>
      <button id="addTaskButton" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add New Task
      </button>
    </div>
  </div>
  <app-table></app-table>
</div>

<!-- Add New Task Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a New Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="addTaskSubmit(formRef)" #formRef="ngForm">
          <div class="row">
            <div class="col-md-8">
              <div class="mb-3">
                <input class="form-control" type="text" name="title" id="title" placeholder="Title" #titleRef="ngModel"
                  ngModel required>
                <span class="help-block text-danger" *ngIf="!titleRef.valid && titleRef.touched">Please enter a
                  title</span>
              </div>
              <div class="mb-3">
                <textarea class="form-control" type="text" name="description" id="description" placeholder="Description"
                  rows="7" #descriptionRef="ngModel" ngModel required></textarea>
                <span class="help-block text-danger" *ngIf="!descriptionRef.valid && descriptionRef.touched">Please
                  enter a description</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <p class="mb-0">Due Date</p>
                <input id="dueDate" class="form-control" type="date" name="dueDate" placeholder="Due Date"
                  #dueDateRef="ngModel" ngModel required />
                <span class="help-block text-danger" *ngIf="!dueDateRef.valid && dueDateRef.touched">Please select a due
                  date</span>
              </div>
              <div class="mb-3">
                <p class="mb-0">Priority</p>
                <select class="form-select" name="priority" id="priority" #priorityRef="ngModel" ngModel required>
                  <option value="Low">Low</option>
                  <option value="Medium">Medium</option>
                  <option value="High">High</option>
                </select>
                <span class="help-block text-danger" *ngIf="!priorityRef.valid && priorityRef.touched">Please select a
                  priority</span>
              </div>
              <div class="mb-3">
                <p class="mb-0">Status</p>
                <select class="form-select" name="status" id="status" #statusRef="ngModel" ngModel required>
                  <option value="To Do">To Do</option>
                  <option value="In Progress">In Progress</option>
                  <option value="Done">Done</option>
                </select>
                <span class="help-block text-danger" *ngIf="!statusRef.valid && statusRef.touched">Please select a
                  status</span>
              </div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal" [disabled]="!formRef.valid">Create</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
